.Header {
  width: 100vw;
  z-index: 1000;
  // padding: 10px 0;
  background-color: transparent;

  .topHead {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    transform-origin: top;


    .topWrap {
      color: $color_text_grey;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      >div {
        display: flex;
        gap: 24px;
      }
    }
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .left {
      display: flex;
      align-items: center;
      gap: 100px;

      .navLg {
        ul {
          display: flex;
          gap: 30px;
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            position: relative;

            a,
            p {
              color: white;
              // font-size: 18px;
              font-size: 15px;
              font-weight: 600;
              cursor: pointer;

              &:hover {
                color: $color_1;
              }
            }

            .dropdownWrap {
              position: absolute;
              top: 0px;
              padding-top: 30px;

              .dropdown {
                background-color: $color_b1;

                padding: 20px 10px;
                min-width: 220px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                // gap: 16px;
                // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                animation: openDropDown 0.25s;
                transform-origin: top;

                .subDropdown {
                  position: relative;

                  a,
                  p {
                    color: white;
                    display: none;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    cursor: pointer;
                  }

                  .subDropdownWrap {
                    position: absolute;
                    top: -30px;
                    left: 100%;
                    padding-top: 30px;

                    .subDropdown {
                      background-color: $color_b1;
                      padding: 10px;
                      min-width: 250px;
                      border-radius: 10px;
                      display: flex;
                      flex-direction: column;
                      // gap: 16px;
                      // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                      animation: openDropDown 0.25s;
                      transform-origin: top;
                    }
                  }
                }

                a,
                p {
                  color: white;
                  font-size: 16px;
                  font-weight: normal;
                  display: block;
                  cursor: pointer;
                  // border: 1px solid red;
                  padding: 8px 0;

                  // margin-bottom: 10px;

                  &:hover {
                    color: $color_1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-below(md) {
    .topHead {
      display: none;
    }

    .wrap {
      .navLg {
        display: none;
      }
    }
  }
}

@keyframes openDropDown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

// .show {
//   transform: translateY(0);
// }

// .hide {
//   transform: translateY(-100%);
// }

.scrolled {
  animation: fade forwards ease-in 0.3s;

  .topHead {
    height: 0px;
    overflow: hidden;
    transform: scale(0);
  }
}

@keyframes fade {
  from {
    background-color: transparent;
  }

  to {
    background-color: $color_b1;
  }
}