.CarsSection {
  padding: 100px 0;
  background-color: $color_b1;

  .selector {
    display: flex;
    justify-content: center;
    .item {
      background-color: $color_b2;
      padding: 10px 20px;
      min-width: 140px;
      text-align: center;
      cursor: pointer;

      border-right: 1px solid $color_b1;
      &:nth-child(1) {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0px 10px 10px 0px;
        border: none;
      }
      p {
        color: white;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &:hover,
      &.active {
        background-color: $color_1;
      }
    }
  }

  .details {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;

    .right {
      .box {
        background-color: $color_b2;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div {
          display: flex;
          justify-content: space-between;
          color: white;
          font-size: 18px;
          border-bottom: 1px solid $color_text_grey;
          padding-bottom: 16px;

          b {
            color: $color_1;
          }
        }
      }
    }
  }

  @include respond-below(md) {
    .selector {
      flex-direction: column;

      .item {
        border: none;
        border-bottom: 1px solid $color_b1;
        &:nth-child(1) {
          border-radius: 10px 10px 0 0px;
        }

        &:last-child {
          border-radius: 0px 0px 10px 10px;
        }
      }
    }

    .details {
      grid-template-columns: 1fr;

      .left {
        img {
        }
      }
    }
  }
}
