$color_1: #e9021e;
$color_1: #a91a1f;

$color_b1: #0b0b0b;
$color_b2: #121212;
$color_b3: #222222;

$color_text_grey: #ffffffa6;
$color_text_grey2: #cecece;
// $color_yellow_1: #d6a200;
// $color_yellow_2: #c27501;
